<p>Un stagiaire demande votre validation concernant ses compétences.</p>

<p>Le stagiaire : {{ nom }} {{ prenom }}</p>
<a href="http://localhost/my-exp-project/#!/validation">Valider les competences.</a>
{# <a href="http://www.pierreriche.com:8000/#!/validation">Valider les competences.</a> #}