<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="assets/img/logo_40x40.svg" width="40px" height="40px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ng-click="r_rome()" ng-if="userRole > 1" title='Gérer les fiches ROME'>Fiches ROME</a></li>
                <li class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Gérer les utilisateurs de myexplus.">Utilisateurs<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="r_query()" ng-if="userRole > 1" title="Gérer les demandes d'inscription des stagiaires">Demandes d'inscrition</a></li>
                        <li><a ng-click="r_admin()" ng-if="userRole == 3" title="Gérer les utilisateurs">Gérer les utilisateurs</a></li>
                        <li class="divider" ng-if="userRole > 1"></li>
                        <li><a ng-click="r_validation()" title="Valider les compétences des stagiaires.">Compétences à valider</a></li>
                        <li><a ng-click="r_archive()" ng-if="userRole == 1">Voir les compétences validées</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="userRole > 1">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Gérer les stages E2C.">Stages<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="r_stagiaire()">Créer un stagiaire</a></li>
                        <li><a ng-click="r_stage()" title="Ajouter ou supprimer un stage">Gérer les stages</a></li>
                        <li class="divider" ng-if="userRole > 1"></li>
                        <li><a ng-click="r_master()" ng-if="userRole > 1">Créer un maître de stage</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><input type="submit" class="disconnect text-white" value="Déconnexion" ng-click="logout()"></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <p>Vous pouvez ici ajouter un administrateur E2C.</p>
            <div class="jumbotron text-center">
                <h2>Ajouter un administrateur</h2>
                <hr>
                <form ng-submit="create_admin(3)">
                    <label for="mail">Entrez une adresse e-mail valide pour ce nouvel utilisateur :</label><br />
                    <input type="email" ng-model="mail" id="mail" class="form-control"><br />
                    <button class="btn-submit text-white" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <p>Vous pouvez ici supprimer les utilisateurs présents sur la plateforme E2C mais aussi les stagiaires
                présents sur l'application mobile.</p>
            <p class="alert-danger">Attention, en cas de suppression d'un profil tout son historique est également supprimé.</p>
            <p class="alert-danger">Attention, pour supprimer un profil, vous devez d'abord supprimer les stages qui lui sont associés.</p>
            <div ng-repeat="user in users" class="text-center col-md-4 text-center">
                <div class="jumbotron">
                    <span class="col s2">{{user.mail}}</span>
                    <span class="col s2" ng-if="(user.role === 3)"><br>Administrateur</span>
                    <span class="col s2" ng-if="(user.role === 2)"><br>Formateur</span>
                    <span class="col s2" ng-if="(user.role === 1)"><br>Maitre de stage</span>
                    <span class="col s2" ng-if="(user.role === 0)"><br>Stagiaire</span>
                    <form ng-submit="delete(user.id)"><input class="btn back_blue" type="submit"
                                                             value="Supprimer utilisateur"></form>
                </div>
                <!-- <form ng-submit="change(user.id)"><input class="btn" type="submit" value="Modifier l'utilisateur"></form> -->
            </div>
        </div>
    </div>
    <div class="flash-message panel-{{alerts.class}}" ng-show="alerts.messages" ng-mouseover="disableFlash()" >
      <div ng-repeat="alert in alerts.messages track by $index" class="panel-body alert-{{alerts.class}}" >{{alert}}</div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".dropdown-button").dropdown();
    });
</script>
